body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    font-size: 32px;
    color: #d9534f;
    margin-bottom: 20px;
}

h2 {
    color: #007acc;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    color: #333;
    margin-bottom: 15px;
}

.evento {
    margin-bottom: 30px;
    overflow: hidden;
}

img {
    max-width: 45%;
    height: auto;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 15px 15px 0;
}

img.derecha {
    float: right;
}

img.izquierda {
    float: left;
}

audio {
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navegacion a {
    text-decoration: none;
    color: white;
    background-color: #007acc;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.navegacion a:hover {
    background-color: #005f99;
}
.responsive-iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
video{width: 230px;height: 400px;}
