
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem 0;
}

h1 {
    font-size: 2rem;
}

main {
    padding: 20px;
}

h3 {
    margin-top: 20px;
    color: #333;
}

p {
    text-align: justify;
    margin: 15px 0;
    overflow: hidden; 
}


img {
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 40%; 
    height: auto; 
}

img.left {
    float: left;
    margin: 10px 15px 10px 0;
}

img.right {
    float: right;
    margin: 10px 0 10px 15px;
}


audio {
    display: block;
    margin: 15px 0;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f1f1f1;
}

footer .button {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

footer .button:hover {
    background-color: #0056b3;
}
.video-container iframe {
    width: 100%; 
    height: 300px; 
    max-width: 600px; 
    margin: 10px auto; 
    display: block; 
    border: none; 
}
.rearme-tabla {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    text-align: left;
  }
  
  .rearme-tabla th {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .rearme-tabla td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  .rearme-tabla tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .rearme-tabla tr:hover {
    background-color: #eaeaea;
  }
  video{width: 230px;height: 400px;}